@import 'variables';

header {
    height: 80px;
    width: 100%;
    background-color: $red;
    color: $white;
    align-items: center;
    padding: 10px 3%;
    font-size: 1rem;
    font-weight: 400;

    .heading {
        color: $white;
        font-weight: 400;
    }

    .languages span:first-of-type,
    .languages span:last-of-type {
        &:hover {
            cursor: pointer;
            color: $brown;
            transition: all 125ms ease-in-out;
        }
    }
}