@import 'variables';

footer {
    height: 150px;
    align-items: center;
    padding: 20px 5%;
    color: $white;
    background-color: $red;

    .legal-notice:hover {
        cursor: pointer;
        color: $brown;
        transition: all 125ms ease-in-out;
    }
}

@media(max-width: 500px) {
    footer {
        height: fit-content;
        flex-direction: column;
        padding: 35px 5%;
        gap: 30px;
    }
}