<div class="column gap-45 description-container">
    <div class="column gap-15">
        <h2>Disclaimer</h2>
        <span>
            This calculator estimates your expected monthly after-tax salary in Mexico. 
            Although it uses official data, the accuracy of the results is not guaranteed. 
            The figures provided are for informational purposes only, and no legal claims can be derived from them.
        </span>
    </div>

    <div class="column gap-25">
        <div>
            <h3>How to use:</h3>
        </div>

        <div class="column gap-15">
            <div class="row gap-10">
                <h4 class="step">Step 1:</h4>
                <span>Select the currency in which you earn money.</span>
            </div>
            <div class="row gap-10">
                <h4 class="step">Step 2:</h4>
                <span>Choose whether you earn yearly, monthly or semi monthly.</span>
            </div>
            <div class="row gap-10">
                <h4 class="step">Step 3:</h4>
                <span>Enter your salary amount.</span>
            </div>
            <div class="row gap-10">
                <h4 class="step">Step 4:</h4>
                <span>Click "Calculate" to view the results.</span>
            </div>
        </div>
    </div>
</div>