<div class="column gap-45 description-container">
    <div>
        <span>This calculator calculates the expected monthly salary after tax in Mexico.</span>
    </div>

    <div class="column gap-25">
        <div>
            <span><b>How it works:</b></span>
        </div>

        <div class="column gap-15">
            <div class="row gap-10">
                <span class="step"><b>Step 1:</b></span>
                <span>Select the currency in which you earn money.</span>
            </div>
            <div class="row gap-10">
                <span class="step"><b>Step 2:</b></span>
                <span>Select the time period in which you earn the money (yearly or monthly salary).</span>
            </div>
            <div class="row gap-10">
                <span class="step"><b>Step 3:</b></span>
                <span>Enter the amount of your salary.</span>
            </div>
            <div class="row gap-10">
                <span class="step"><b>Step 4:</b></span>
                <span>Press the button 'Calculate'.</span>
            </div>
        </div>
    </div>
</div>