@import 'variables';

section {
    width: 100%;
}

.data-input-container {
    width: 100%;
    max-width: 400px;

    .data-row {
        align-items: center;
 
        .name {
            width: 40%;
            font-weight: 600;
            word-break: break-word;
        }

        .data {
            width: 60%;
            justify-content: flex-end;
        }
    
        .btn {
            width: fit-content;
            border: 1px solid $gray;
            border-radius: 999px;
            color: $black;
            background-color: white;
            padding: 10px 20px;
            box-shadow: 1px 1px 4px 1px  $lightgray;
            
            &:hover {
                cursor: pointer;
                color: $white;
                background-color: $red;
                box-shadow: 1px 1px 4px 3px  $lightgray;
                transition: all 125ms ease-in-out;
            }
        }

        input {
            width: 150px !important;
            text-align: center;
            font-size: 1rem;
            border: 1px solid $gray;
            border-radius: 999px;
            color: $black;
            background-color: white;
            outline: none;
            padding: 10px 20px;
            box-shadow: 1px 1px 4px 1px  $lightgray;
        }
    }
}

.result {
    font-weight: 600;
}

.btn-calc {
    background-color: $red;
    color: $white;
    padding: 15px 25px;
    border: 2px solid $red;
    border-radius: 999px;
    box-shadow: 1px 1px 4px 1px  $lightgray;
    transition: all 125ms ease-in-out;
    
    &:hover {
        cursor: pointer;
        color: $red;
        background-color: $white;
        box-shadow: 1px 1px 4px 3px  $lightgray;
        transition: all 125ms ease-in-out;
    }
}