@import 'variables';

section {
    width: 100%;
}

.data-input-container {
    width: 100%;
    max-width: 800px;

    .data-row {
        align-items: center;
 
        .name {
            width: 40%;
            font-weight: 600;
            word-break: break-word;
        }

        input {
            width: 150px !important;
            text-align: center;
            font-size: 1rem;
            border: 1px solid $gray;
            border-radius: 999px;
            color: $black;
            background-color: $white;
            outline: none;
            padding: 10px 20px;
            box-shadow: 1px 1px 4px 1px  $lightgray;
        }
    }
}

.result-container {
    width: 100%;
    max-width: 800px;

    .result {
        text-align: right;
        white-space: nowrap;
    }

    .division-line {
        background-color: $red;
        height: 2px;
        width: 100%;
    }
}


.btn-calc {
    background-color: $red;
    color: $white;
    padding: 15px 25px;
    border: 2px solid $red;
    border-radius: 999px;
    box-shadow: 1px 1px 4px 1px  $lightgray;
    transition: all 125ms ease-in-out;
    
    &:hover {
        cursor: pointer;
        color: $red;
        background-color: $white;
        box-shadow: 1px 1px 4px 3px  $lightgray;
    }
}

// Dropdown

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-btn {
    width: fit-content;
    text-align: center;
    color: $red;
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid $red;
    border-radius: 999px;
    background-color: $white;
    cursor: pointer;
    transition: background-color 125ms;
    
    &:hover {
      color: $white;
      background-color: $red;
    }

    img {
        height: 15px;
        width: 20px;
    }
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-height: 150px;
    overflow: auto;
    margin-top: 5px;
    z-index: 1000;
    padding: 0;
    cursor: pointer;
}
  
.dropdown-menu li {
    padding: 5px 15px;
}

.dropdown-menu li img {
    height: 30px;
    width: 20px;
}
  
.dropdown-menu li span {
    display: block;
    color: #333;
    text-decoration: none;
    transition: background-color 125ms, color 125ms;
}
  
.dropdown-menu li:hover {
    background-color: $red;
}

.dropdown-menu li:hover span {
    color: $white;
}
    
.dropdown.active .dropdown-menu {
    display: block;
}  

.dropdown-menu.frequency li span {
    padding: 5px 10px;
}



@media(max-width: 400px) {
    .result-container h3 {
        font-size: 1rem;
    }
}