<section class="column center gap-60">
    <div class="data-input-container column gap-35">
        <div class="row between data-row">
            <div class="name">Currency:</div>
            <div class="btn data">MXN</div>
        </div>
        <div class="row between data-row">
            <div class="name">Period:</div>
            <div class="row gap-10 data">
                <div class="btn">Monthly</div>
                <div class="btn">Yearly</div>
            </div>
        </div>
        <div class="row between data-row">
            <div class="name">Salary:</div>
            <input class="data" type="number">
        </div>
    </div>

    <div class="center">
        <div class="btn-calc center">Calculate</div>
    </div>

    <div class="center gap-20">
        <div><b>Result:</b></div>
        <div></div>
    </div>
</section>